<html>
  <head>
    <title>Tiger Transit ETAp</title>
    <script src="javascripts/eta.js"></script>
    <script src="javascripts/busUpdate.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "style/map.css" />
  </head>
  <body>
  <% include ../partial/map %>
  </body>
</html>

